.shelf{

    position:relative;

    width:800px;

    max-width:100%;

    margin:40px auto;

}

.shelfImage{

    width:100%;

    display:block;

}

.item{

    position:absolute;

    width:100px;

}

.pebble{

    left:120px;

    top:300px;

}
