/* Theme: Pebble Theme */
:root{
  --bg:#ECECEC;
  --bg-accent: linear-gradient(180deg,#F1F1F1,#ECECEC);
  --dot-grid: none;
  --text:#33383b;
  --primary:#7B7F85;
  --accent:#A5A8AC;
  --surface:#F7F7F7;
  --surface-translucent: rgba(247,247,247,0.85);
}
